@import 'material-icons/iconfont/material-icons.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #fafafa;
}